

.main-container{
    text-align: center;
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 53, 53);
    height: 85dvh;
    gap: 1rem;
}

.main-container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

.main-container-text{
    padding: 1rem 2rem;
    flex: 2;
}

.main-container-text h4{
    color: white;
    font-size: 2rem;
}

.main-container-text p{
    color: white;
    font-size: 1.1rem;
}

.main-container-product{
    padding: 1rem 2rem;
    height: 90%;
    flex: 2;
}

.main-container-product img{
    object-fit: cover;
    height: 100%
}