

.main-container{
    text-align: center;
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 53, 53);
    height: 85dvh;
    gap: 1rem;
}

.main-container-btn{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

.main-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem 2rem;
    flex: 2;
}

.main-container-text h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-container-text p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.main-container-text h6{
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 1rem;
    
}

.hero-btns{
    display: flex;
    gap: 1rem;
}

.mainBtn{
    padding: 1rem 3rem;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.main-container-product{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 1rem 3rem;
    height: 90%;
    flex: 3;
    width: 80%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

.main-container-product img{
    object-fit: cover;
    height: 100%;
}