
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-checkout-container{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}

.main-checkout-title{
    font-size: 2.5rem;
    font-weight: 400;
}

.checkout-subtitle{
    font-size: .8rem;
    opacity: .8;
    margin-bottom: 1rem;
}

.payment-icons{
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.payment-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    cursor: pointer;
    background-color: rgb(237, 237, 237);
    color: rgb(17, 33, 109);
    border-radius: 10px;
    min-width: 100px;
}

.payment-icon-active{
    border-radius: 1px solid rgb(17, 33, 109);
    box-shadow: 0 0 5px rgb(17, 33, 109);
}


.buyer-info{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 2rem;
}

.buyer-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    padding: 1rem;
}

.info-title{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.info{
    margin-bottom: 1rem;
}

.info-subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    opacity: .8;
}

.info input{
    width: 100%;
    height: 25px;
    padding: .5rem;
}

.info select{
    width: 100%;
    padding: .5rem 1.5rem;
}

.card-info{
    display: flex;
    gap: .5rem;
}

.card-info-cont input{
    width: 50px;
    padding: .5rem;
}

.card-info-cont .info-subtitle{
    font-size: .7rem;
}

.card-info-cont select{
    padding: .5rem 0;
}

.checkoutBtn{
    padding: .5rem 10rem;
    background-color: rgb(17, 33, 109);
    border: 1px solid rgb(17, 33, 109);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.checkoutBtn:hover{
    background-color: rgb(33, 49, 131);
}

.small-text{
    font-size: .8rem;
    opacity: .7;
    margin-bottom: .5rem;
}

.go-back-checkoutBtn{
    padding: .5rem 2rem;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;
    color: rgb(133, 133, 133);
    transition: all 0.3s ease;
}

.go-back-checkoutBtn:hover{
    background-color: rgb(204, 204, 204);
    color: rgb(74, 74, 74);
}
