.main-wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  min-height: 75dvh;
}

.wishlist-heart {
  margin-bottom: 1rem;
}

.main-wishlist-title {
  font-size: 2.5rem;
  font-weight: 400;
}

.wishlist-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1320px;
  padding: 2rem 3rem;
}

.wishlist-container-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  min-width: 500px;
}

.wishlist-subtitle {
  font-size: 1.1rem;
}
