

.product-info{
    color: rgba(9,21,82,1);
}

.product-info h2{
    font-size: 1.5rem;
    margin-bottom: .2rem;
    text-transform: uppercase;
}

.thumbnail-container{
    padding: .5rem;
    border: 1px solid rgba(9,21,82,1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.thumbnail-container:hover{
    transform: scale(1.05);
}

.thumbnail-container img{
    border-radius: 10px;
}

.product-info h5{
    font-size: .9rem;
    opacity: .8;
    margin-bottom: .1rem;
    color: rgb(24, 40, 122);
}

.product-info .quantity{
    font-size: 1.1rem;
    background-color: rgb(235, 235, 235);
    padding: .2rem;
    border-radius: 5px;
}

.price-info h4{
    opacity: .5;
    text-decoration: line-through;
    font-size: 1.2rem;
}

.remove-productBtn{
    margin-bottom: 1rem;
    padding: .5rem;
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    color: rgb(161, 161, 161);
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-productBtn:hover{
    background-color: rgb(207, 207, 207);
    color: rgb(126, 126, 126);
}