
.main-filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterBox{
    background: rgb(18, 32, 101);
    border-radius: 10px;
    color: white;
    width: 200px;
    min-width: 200px;
    margin-bottom: 1rem;
}

.filterBox h2{
    margin-bottom: 1rem;
}

.filter{
    margin-bottom: .5rem;
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.filter label{
    font-size: 1.2rem;
    cursor: pointer;
}

.filterBtn{
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: rgb(54, 71, 158);
    border: 1px solid rgba(255, 255, 255, 0.762);
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

.filterBtn:hover{
    background-color: rgb(83, 103, 202);
    border: 1px solid rgb(255, 255, 255);
}

.filterBtn:active{
    background-color: rgb(112, 132, 235);
}