.main-container-subscribe {
    display: flex;
    text-align: center;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(5,16,66,1) 0%, rgba(9,21,82,1) 25%, rgb(17, 33, 109) 50%, rgba(9,21,82,1) 75%, rgba(5,16,66,1) 100%);
    height: 85dvh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.288);
    z-index: 1;
}

.image-container img {
    width: 100%;
    max-height: 600px;
    border-radius: 15px;
}

.subscribe-container {
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.156);
    color: white;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subscribe-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subscribe-container p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input input {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-color: none;
}

.input input:active {
    border-color: none;
}

/* Responsive Media Queries */

@media (max-width: 768px) {
    .main-container-subscribe {
        padding: 2rem 1rem; 
    }
    
    .input {
        width: 100%; 
    }
}

@media (max-width: 576px) {
    .subscribe-container {
        padding: 1rem 2rem; 
    }
    
    .image-container,
    .subscribe-container {
        flex-direction: column;
    }
}
