


.footer-container{
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns:  auto auto auto auto;
}

.footer-logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.socials{
    cursor: pointer;
}

.footer-item{
    text-align: start;
}

.footer-item li{
    list-style-type: none;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-item li:hover{
    color: rgb(97, 97, 97);
}
